<h1>Listing lists</h1>

<table class="table">
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @lists.each do |list| %>
  <tr>
    <td><a class="show-ideas" href="#" data-toggle="modal" data-target="#modal-<%=list.id %>"><%= list.name %></a></td>
    <td><%= list.created_at.strftime("%B %d, %Y") %></td>
    <td><%= link_to 'Show', list %></td>
    <td><%= link_to 'Edit', edit_list_path(list) %></td>
    <td><%= link_to 'Destroy', list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
  <div id="modal-<%= list.id %>" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel"><%= list.name %></h3>
  </div>
  <div class="modal-body">
    <%= form_for @idea, remote: true do |f| %>
    <%= f.text_field :idea %>
    <%= f.submit %>
    <%= hidden_field_tag 'ideas_list_id', list.id %>
<% end %>   
    <p>
    <% list.ideas.each_with_index.map do |idea, index| %>
   <p>
    <%= index += 1 %>. <%= idea.idea %>
  </p>
    <% end %>
</p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button class="btn btn-primary">Save changes</button>
  </div>
</div>
<% end %>
</table>

<br />
 

<%= link_to 'New List', new_list_path %>

  <script> 
//   $('.show-ideas').click(function (e) { 
//     e.preventDefault() ;
//     $('#myModal').modal('show') ;
//     $("#idea_list_id").val($(this).attr('data'));
//   });
  </script>