<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @list.name %>
</p>
<p>
  <% @list.ideas.each_with_index.map do |idea, index| %>
  <p>
    <td><%= index += 1 %>. <%= idea.idea %></td>
  </p>
    <% end %>  
</p>

<% if user_signed_in? %>
<%= link_to 'Edit', edit_list_path(@list) %> |
<%= link_to 'New Idea', new_idea_path(list_id: @list) %> |
<% end %>
<%= link_to 'Back', lists_path %>